@import "../../../styles/variables";

.content {
  //width: 50%;
  margin: 20px 50px 20px 50px;
}

h2 {
  color: $primary-color;
  font-size: 5rem;
  font-weight: 900;
}
.header_title {
  font-size: 1.8rem;
  text-align: left;
  margin-left: 1rem;
}

.section_title_rqd, .section_title {
  font-size: 1.4rem;
  float: left;
}

.section_title_rqd::after {
  content: "*";
  color: red;
}
.btn {
  font-weight: 700;
  color: $white;
}

.register{
  background-color: $primary-color;
}

.title,.btn_class{
  text-align: center;
}

.cancel,
.cancel:visited,
.cancel:focus,
.cancel:hover,
.cancel:active {
  margin-left: 10px;
  background-color: darkgray;
  border: darkgray;
}

.help-block {
  font-size: 1.4rem;
  color: red;
  text-align: left;
}

.registration_details,
.personal_details,
.billing_address,
.shipping_address {
  margin: 2rem 0 2rem 0;
}

.section {
  background-color: $light-grey;
  padding: 2rem;
  border : $dark-grey 0.1rem solid;
  border-radius: 1rem;
}

.register_text{
  font-size: 1.4rem;
}