@import "../../../styles/variables";

.content {
  //width: 50%;
  margin: 20px 50px 20px 50px;
  text-align: center;
}

h2 {
  color: $primary-color;
  font-size: 5rem;
  font-weight: 900;
}
.header_title{
  font-size: 1.8rem;
  text-align: left;
}

 .section_title {
  font-size: 1.4rem;
  float: left;
}
.btn {
  background-color: $primary-color;
  font-weight: 700;
  color: $white;
}

.cancel {
  margin-left: 10px;
}

.help-block {
  font-size: 1.4rem;
  color: red;
  text-align: left;
}

.registration_details, .personal_details{
 display: inline-block;
 box-sizing: border-box;

}