@import "../../../styles/variables";
.content {
  padding: 20px 20px 20px 0;
}

.login-container {
  text-align: right;
}

.form-group {
  width: 30%;
  margin-left: auto;
}
.title {
  font-size: 2rem;
  text-align: left;
}
.email_title,
.password_title {
  font-size: 1.4rem;
  float: left;
}
.btn {
  background-color: $primary-color;
  font-weight: 700;
  color: $white;
}

.register {
  margin-left: 10px;
}

.help-block {
  font-size: 1.4rem;
  color: $red;
}

.forgotpass{
  margin-right: 100px;
    font-size: 1.6rem;
  color : black;
}