 .container{
    position: absolute;
    width: 25%;
    text-align: center;
    padding: 10px;
    margin-left: 66%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 800;
    z-index: 100;
    opacity: 0.9;
}
