<div class="container">
  <div class="content">
    <h1>Free eBook: {{productTitle}}</h1>
    <div class="product-block-left">
      <div class="product-block-content">
        <img class="product-image" src="{{ staticCdnUrl }}/products/{{ isbn13 }}/cover/smaller" [alt]="productTitle">
        <div class="product-summary">
          {{productOneLiner}}
          <!-- Product Description, author etc. -->
          <p>{{authorNames}}, {{pageCount}} pages, {{publicationDate | date:'MMM y'}} </p>
          <h3><b>Key Features:</b></h3>
          <div [innerHTML]="features"></div>
          <h3><b>Description</b></h3>
          {{shortDescription}}
        </div>
      </div>

    </div>
    <div class="product-block-right">
      <div class="cta-readonline-block">
        <h3>Read Online</h3>
        <p>
          Use our online reader to read the whole book, a chapter, or just a section. Setup bookmarks or add to your playlists.
        </p>
        <div class="readonline-readNow">
          <a [href]="readNow" target="_blank">
            <button class="cta-readme" id="fl-claim-btn" mat-button>
              Read Now
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h2>Chapters</h2>
    <div class="chapters-block" *ngIf="productChapters">

      <div class="chapter-content-block" *ngFor="let chapter of productChapters">

        <div class="chapter-header">
          <div class="chapter-number">
              <h3>
                Chapter {{chapter.id}}
              </h3>
            </div>
          <div class="chapter-title">
            <!-- <h4>{{chapter.title}}</h4> -->
          </div>
          <div class="free-icon"> Free </div>
        </div>
        <div class="chapter-outline">
          <h4>{{chapter.title}}</h4>
          <p>
              {{chapter.outline}}
          </p>

        </div>
        <div class="cta-section">
          <div class="cta-left">
          </div>
          <div class="cta-read-now">
            <a [href]="readNow" target="_blank">
              <button mat-button class="cta-readme" id="fl-claim-btn">
                Read Now
              </button>
            </a>
            <!-- ${showReadNow ? readNowBtn(product) : chapterUnlockBtn()} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h3>Recommend Titles</h3>
    <div class="rec-titles-block" *ngIf="recommendedTitles">

      <div class="rec-block body" *ngFor="let item of recommendedTitles">
        <div class="body-left">
          <img src={{item.coverImage}} [alt]="item.title" class="rec-cover-image">
        </div>
        <div class="body-right">
          <p class="rec-text"><b>{{item.title}}</b></p>
          <p class="rec-text">{{item.summary}}</p> 
          <div>
          <button mat-button class="cta-readme" id="fl-claim-btn">
            Add to Basket
          </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
