@import "../../styles.scss";
header {
  background-color: rgb(60, 60, 59);
  height: 75px;
  nav
    .logo {
      float: left;
      width: 135px;
      margin: 15px 0 15px 0;
    }
}
.contact_us {
  color: $primary-color;
  float: right;
  height: 35px;
  margin: 20px 0 20px 0;
  font-size: 18px;
}
